<%= render "shared/header" %>

<%# 生徒の概要 %>
<div class="student-show">
  <div class="student-box">
    <h2 class="name">
      <%= @student.student %>/<%= @student.month.name %>月
    </h2>

    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-student">生徒名</th>
          <td class="detail-value"><%= @student.student %></td>
        </tr>
        <tr>
          <th class="detail-student">学年</th>
          <td class="detail-value"><%= @student.grade.name %></td>
        </tr>
        <tr>
          <th class="detail-student">指導した月</th>
          <td class="detail-value"><%= @student.month.name %>月</td>
        </tr>
        <tr>
          <th class="detail-student">担当教師</th>
          <td class="detail-value"><%= @student.user.name %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <%# /生徒の概要 %>


  <%# 報告書の概要 %>
    <div class="report-box">
      <div class="report-btn">
        <%= link_to '指導の報告', new_student_report_path(@student.id) %>
      </div>
      
      <table class="detail-table">
        <thead>
          <tr>
            <th class="report-number"></th>
            <th class="report-item">実施日</th>
            <th class="report-item">時間</th>
            <th class="report-item">交通費</th>
            <th class="report-guidance">指導の内容</th>
          </tr>
        </thead>
        <tbody>
          <% if @reports.empty? %>
            <tr>
              <td class="detail-number">1</td>
              <td class="detail-report">(例)_/__</td>
              <td class="detail-report">(例)_._h</td>
              <td class="detail-report">(例)__円</td>
              <td class="detail-guidance">(例)  英語は単語テスト、数学は練習問題、その他は小テストを行いました。
              英語は単語テスト、数学は練習問題、その他は小テストを行いました。英語は単語テスト、数学は練習問題、
              その他は小テストを行いました。</td>
            </tr>
          <% else %>
            <%i = 1%>
            <% @reports.each do |report| %>
              <tr>
                <td class="detail-number"><%= i %><br>
                  <div class="menu">
                    <span><%= image_tag 'arrow_top.png' %>
                      <ul class="menu-list">
                        <li>
                          <%= link_to '編集', edit_student_report_path(@student.id, report.id), method: :get %>
                        </li>
                        <li>
                          <%= link_to '削除', student_report_path(@student.id, report.id), method: :delete %>
                        </li>
                      </ul>
                    </span>
                  </div>
                </td>
                <td class="detail-report"><%= report.month.name %>/<%= report.day.name %></td>
                <td class="detail-report"><%= report.hour %>h</td>
                <td class="detail-report"><%= report.transportation_expense %>円</td>
                <td class="detail-guidance"><%= report.content %></td>
              </tr>
              <%i += 1%>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  <%# /報告書の概要 %>

</div>
